body {
  font-family: 'Roboto', sans-serif;
  text-align: center
}

h1 {
  color: midnightblue;
}

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: midnightblue;
  color: white;
  overflow-x: hidden;
  padding-top: 20px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  /*text-shadow: 2px 2px 0px rgba(0,0,0,0.4);*/
}

.sidenav .preset-gradient-menu-item {
  text-align: left;
  margin-left: 25px;
  width: 200px;
  position: relative;
}

.sidenav a, p {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
}

.sidenav span {
  font-size: 1.25em;
}

.preset-gradient-menu-item .gradient-preview {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 2.5px;
}

.gradient-peach {
  background-image: linear-gradient(135deg, #FFD3A5, #FD6585);
}

.gradient-misty-morning {
  background-image: linear-gradient(135deg, #C2FFD8, #465EFB);
}

.gradient-limeaid {
  background-image: linear-gradient(135deg, #FFF720, #3CD500);
}

.gradient-glimmer {
  background-image: linear-gradient(135deg, #FAB2FF, #1904E5);
}

.gradient-sunrise {
  background-image: linear-gradient(135deg, #FFA8A8, #FCFF00);
}

.gradient-sunset {
  background-image: linear-gradient(135deg, #EECE13, #B210FF);
}

.gradient-lemon {
  background-image: linear-gradient(135deg, #FDEB71, #F8D800);
}

.gradient-lavender {
  background-image: linear-gradient(135deg, #F5CBFF, #C346C2);
}

.gradient-seafoam {
  background-image: linear-gradient(135deg, #79F1A4, #0E5CAD);
}

.gradient-velvet {
  background-image: linear-gradient(135deg, #3B2667, #BC78EC);
}

.container {
  margin-left: 250px;
  width: auto;
}

#gradient {
  width: 333px;
  height: 333px;
  margin: auto;
  border-radius: 25px;
  margin-bottom: 1em;
}

.gradient_form {
  position: relative;
  margin: auto;
  width: 200px;
  height: auto;
  background-color: darkgray;
  color: white;
  border-radius: 10px;
  padding: 10px;
}

.gradient_form label{
  display: inline-block;
  float: left;
  clear: left;
  width: 150px;
  text-align: left;
}

.gradient_form input {
  display: inline-block;
  float: left;
}

.gradient_form button {
  margin-top: 1em;
}

.css-code-container {
  width: 50%;
  border-radius: 7px;
  margin: auto;
  background-color: #f7f8f9;
  color: black;
  font-family: Source Code Pro, monospace;
}

.fa-clipboard-check {
  font-size: 1.5em;
}

@media only screen and (max-width: 600px) {
  .sidenav {
    display: none;
  }

  .container {
    margin-left: 0;
  }
}
